{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diferencias Divididas</title>
    <link rel="stylesheet" href="/style/diferencias.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/diferencias.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>
<body>
     <!--NAVBAR CSS-->
     <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand me-auto" href="#">HyperMath</a>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link x-lg-2 " aria-current="page" href="C:/Users/21517/Desktop/PROYECTO CALCULADORA/Proyecto_Analisis_Num/calculadora/calculadora_app/templates/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-2" href="#">Teoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-lg-2" href="#">Ejemplo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-lg-2" href="#">Historial</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-lg-2" href="#">Salir</a>
                  </li>
              </ul>

            </div>
          </div>
          <a href="/html/Login.html" class="login-button">Iniciar Sesion</a>
          <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>

      <section class="Definicion-variables" id="Definicion-variables">
        <form method="POST"> 
            {% csrf_token %} 
            <h1 class="Tittle-metodo">Metodo de Diferencias Divididas</h1>
            <p class="Pregunta-Puntos">Cuantos Puntos (x , y) tiene el problema?</p>

        <div class="inputBox">
          <p>Escriba la cantidad de puntos de su ejercicio</p>
          <input type="text" id="cantidadPuntos" required="required" pattern="\d*">
          <span>Cantidad de Puntos</span>
        
            <div class="inputPuntos">
                <div class="inputBox">
                    <p>Escriba las variables Xi separadas por coma: ejemplo: 1,2,3,4</p>
                    <input type="text" name="xi_valores" id="variablesXi" required="required" pattern="\d*(,\d*)*">
                    <span>Variables Xi</span>
                </div>
            
                <div class="inputBox">
                    <p>Escriba las variables Yi separadas por coma: ejemplo: 1,2,3,4</p>
                    <input type="text" name="fi_valores" id="variablesYi" required="required" pattern="\d*(,\d*)*">
                    <span>Variables Yi</span>
                </div>
        </div>
        
        <button name="ingresar_valores" id="continuarBtn" >Continuar</button>

        <p> Resultado del polinomio : {{polinomio}} </p>
        <p> Resultado del polinomio simplificado : {{simplificado}} </p>
        
        <!--Esta seria la parte donde se tendria que mostrar la tabla-->
        <h2>Tabla de Diferencias Divididas</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for titulo in titulos %}
                      <th>{{ titulo }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fila in tabla_final %}
                <tr>
                    {% for celda in fila %}
                      <td>{{ celda }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
      </form>
      </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static '/js/diferencias.js' %}" defer type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
